{% extends 'auctions/layout.html' %}


{% block body %}
    <ul class="list-group">
    {% for listing in listings %}
        {% if listing.open %}
        <a href="{% url 'listing' listing.id %}" class="list-group-item list-group-item-success">
        {% else %}
        <a href="{% url 'listing' listing.id %}" class="list-group-item list-group-item-danger">
        {% endif %}
            {% if listing.photo %}
                <img src="{{ listing.photo }}" alt="an image of the listing" class="img-thumbnail mb-3">
            {% endif %}
            <h2>{{ listing.title }}</h2>
            <p>{{ listing.description }}</p>
            {% if listing.winning_bid %}
                <h4>Current bid: {{ listing.winning_bid.value }}$</h4>
            {% else %}
                <h4>Starting bid: {{ listing.starting_bid }}$</h4>
            {% endif %}
        </a>
    {% endfor %}
    </ul>
{% endblock %}
